# Python
*.py[co]
*.fail

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
.venv

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

# Other filesystems
.svn
.DS_Store

# Editors
.*.swp
*~

# Sphinx documentation
docs/_build/

# IDEs
.idea
